.card__delete-btn {
    background-image: url(../../../images/Trash-Btn-photo.svg);
    background-position: center;
    background-color: transparent;
    background-repeat: no-repeat;
    height: 19.3px;
    width: 18px;
    border: none;
    cursor: pointer;
    transition: opacity 0.4s ease-in-out;
    position: absolute;
    top: 20px;
    right: 20px;
}
.card__delete-btn:hover {
    opacity: 0.5;
}