.gallery {
    list-style-type: none;
    padding-inline: 0;
    margin-block: 0;
    display: grid;
    row-gap: 20px;
    justify-content: center;
    grid-template-columns: 282px;
}
@media screen and (min-width: 700px) {
    .gallery {
        grid-template-columns: repeat(2, 282px);
        column-gap: 14px;
    }
}
@media screen and (min-width: 1024px) {
    .gallery {
        grid-template-columns: repeat(3, 282px);
        column-gap: 17px;
    }
}