.card__like {
    background-image: url(../../../images/gallery-likes.svg);
    background-color: transparent;
    background-position: center;
    background-repeat: no-repeat;
    height: 19px;
    width: 22px;
    border: none;
    cursor: pointer;
    transition: opacity 0.4s ease-in-out;
}
.card__like:hover {
    opacity: 0.5;
}